# Database configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=2056
POSTGRES_USER=greeny
POSTGRES_PASSWORD=greeny
POSTGRES_DB=greeny

# Server configuration
SERVER_PORT=3100

# JWT configuration
ACCESS_TOKEN_SECRET="secret"
ACCESS_TOKEN_EXPIRATION="1560s"
REFRESH_TOKEN_SECRET="secret refresh"
REFRESH_TOKEN_EXPIRATION="1d"
